.advantages-about-wrapper {
  background-image: url("./../img/triangles-background-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: center -29px;
  background-size: cover;

  @media (min-resolution: $retina-dpi) and (min-resolution: $retina-dppx) {
    background-image: url("./../img/triangles-background-desktop@2x.png");
    background-size: 1920px 1347px, cover;
  }
}

@media (max-width: $desktop-width) {
  .advantages-about-wrapper {
    background-image: url("./../img/triangles-background-tablet@1x.png");
    background-position: 100% 88px;
    background-size: auto;


    @media (min-resolution: $retina-dpi) and (min-resolution: $retina-dppx) {
      background-image: url("./../img/triangles-background-tablet@2x.png");
      background-size: 559px 873px, cover;
    }
  }
}

@media (max-width: $tablet-width) {
  .advantages-about-wrapper {
    padding-top: 17px;

    background-image: url("./../img/triangles-background-mobile@1x.png");
    background-position: 100% 70.7%;

    @media (min-resolution: $retina-dpi) and (min-resolution: $retina-dppx) {
      background-image: url("./../img/triangles-background-mobile@2x.png");
      background-size: 320px 873px, cover;
    }
  }
}
