.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  padding-left: 15px;

  list-style: none;
}

.advantages__item {
  width: 48%;
  min-height: 299px;
  margin-top: 30px;
  padding: 39px 42px 0;

  transition: background-color $animation;

  border: 1px solid $border-color;
  border-left: 3px solid $alternative-background-color;
  background-color: $contrast-text-color;

  &:nth-child(odd) {
    margin-right: 30px;
  }


  &:hover {
    cursor: pointer;

    border-color: $alternative-background-color;
    background-color: $alternative-background-color;

    & svg {
      fill: $contrast-text-color;
    }

    & h3,
    & p {
      color: $contrast-text-color;
    }
  }
}

.advantages__item svg {
  fill: $alternative-background-color;
}

.advantages__item h3 {
  margin: 0;
  margin-top: 14px;

  color: $alternative-background-color;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  line-height: 34px;
}

.advantages__item p {
  margin-top: 16px;
}

@media (max-width: $desktop-width) {
  .advantages__list {
    width: 100%;
    padding: 0 25px;
  }

  .advantages__item {
    width: 47.9%;
    min-height: 232px;
    margin-top: 30px;
    padding: 23px 20px 0 25px;

    border-left: 2px solid $alternative-background-color;
  }

  .advantages__item h3 {
    margin-top: 5px;
  }

  .advantages__item p {
    margin-top: 10px;
  }

  .advantages__item--stopwatch svg {
    width: 29.38px;
    height: 35.46px;
  }

  .advantages__item--hired svg {
    width: 31.72px;
    height: 32.18px;
  }

  .advantages__item--detective svg {
    width: 30.31px;
    height: 26.1px;
  }

  .advantages__item--tag svg {
    width: 32.18px;
    height: 32.18px;
  }
}

@media (max-width: $tablet-width) {
  .advantages__list {
    padding: 0 16px 0 14px;
  }

  .advantages__item {
    width: 100%;
    min-height: auto;
    margin-top: 20px;
    padding: 23px 20px 7px 25px;

    &:nth-child(odd) {
      margin-right: 0;
    }
  }

  .advantages__item h3 {
    margin-top: 7px;

    font-size: 20px;
    line-height: 28px;
  }
}
