.button {
  display: inline-block;

  min-height: 45px;
  padding: 15px 25px;

  cursor: pointer;
  transition: opacity $animation;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  border: 1px solid $contrast-text-color;
  border-radius: 5px;
  background: none;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  line-height: 16px;


  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.2;
  }

  &--header {
    max-width: 177.27px;

    transform: translate(0, -2px);

    color: $contrast-text-color;
  }

  &--main-screen {
    max-width: 408.61px;
    height: 55px;
    margin-left: 98px;
    padding: 15px 45px;

    text-align: center;

    color: $contrast-text-color;
    border-color: $alternative-background-color;
    background-color: $alternative-background-color;

    font-size: 16px;
    line-height: 19px;
  }

  &--about {
    min-width: 180px;
    margin-top: 23px;

    color: $alternative-background-color;
    border: 1px solid $alternative-background-color;
  }

  &--form {
    min-width: 270px;

    color: $contrast-text-color;
  }

  &--modal {
    color: $contrast-text-color;
  }
}

@media (max-width: $desktop-width) {
  .button--header {
    display: none;
  }

  .button--main-screen {
    margin-left: 53px;
    padding: 15px 29px;
  }

  .button--about {
    margin-top: 24px;
  }
}

@media (max-width: $tablet-width) {
  .button--main-screen {
    width: 89.5%;
    margin-left: 5.7%;
    padding: 15px 25px;

    text-align: center;
  }

  .button--about {
    margin-top: 15px;
  }
}
