.feedback {
  min-height: 670px;
  padding-top: 92px;

  color: $contrast-text-color;
  background-color: $alternative-background-color;
  background-image: url("./../img/paper-airplane@1x.png");
  background-repeat: no-repeat;
  background-position: 109% 63%;

  @media (min-resolution: $retina-dpi) and (min-resolution: $retina-dppx) {
    background-image: url("./../img/paper-airplane@2x.png");
    background-size: 1745px 765px;
  }
}

.feedback__wrapper {
  max-width: 1200px;
  margin: 0 auto;

  text-align: right;
}

.feedback__form-wrapper {
  display: inline-block;

  width: 570px;
  margin-right: 10px;

  text-align: left;
}

.feedback h2 {
  margin: 0;

  color: $contrast-text-color;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  line-height: 51px;
}

.feedback p {
  margin: 0;
  margin-top: 10px;
  padding-left: 3px;
}

.feedback__name-tel-wrapper {
  display: flex;
  justify-content: space-between;

  margin-top: 48px;
}

.feedback input[type="text"],
.feedback input[type="tel"],
textarea {
  width: 270px;
  height: 50px;
  padding-left: 20px;

  color: $contrast-text-color;
  border: none;
  background-color: $input-color;

  &:hover {
    transition: opacity $animation;

    opacity: 0.5;
  }
}

.feedback input[type="text"]::placeholder,
.feedback input[type="tel"]::placeholder,
textarea::placeholder {
  color: $contrast-text-color;
}

.feedback__textarea {
  margin-top: 44px;
}

.feedback__textarea textarea {
  width: 100%;
  min-height: 157px;
  padding: 10px 20px;

  resize: none;
}

.feedback__button-wrapper {
  display: flex;
  justify-content: space-between;

  margin-top: 30px;
}

.feedback__checkbox {
  width: 270px;
  padding: 5px 5px 5px 42px;
}

@media (max-width: $desktop-width) {
  .feedback {
    min-height: 664px;
    padding-top: 80px;

    background-image: none;
  }

  .feedback__wrapper {
    max-width: auto;
    margin: 0 auto;
    padding-right: 87px;
    padding-left: 92.15px;

    text-align: center;
  }

  .feedback__form-wrapper {
    display: block;

    width: 100%;
  }

  .feedback h2 {
    margin-left: -4px;

    font-size: 32px;
    line-height: 45px;
  }

  .feedback p {
    margin-top: 16px;
    padding-left: 1px;
  }

  .feedback__name-tel-wrapper {
    justify-content: flex-start;

    margin-top: 53.5px;
  }

  .feedback input[type="text"],
  .feedback input[type="tel"],
  textarea {
    width: 100%;
    height: 50px;
    padding-left: 17px;
  }

  .feedback__name {
    margin-right: 32.13px;
  }

  .feedback__name,
  .feedback__tel {
    flex-grow: 1;
  }

  .feedback__textarea {
    margin-top: 44px;
  }

  .feedback__textarea textarea {
    width: 100%;
    padding: 12px 17px;
  }

  .feedback__button-wrapper {
    margin-top: 41px;
  }

  .feedback__button-wrapper button {
    width: 100%;
    margin-right: 38.98px;
  }

  .feedback__checkbox {
    width: 100%;
    padding: 5px 5px 5px 32.5px;
  }
}

@media (max-width: $tablet-width) {
  .feedback {
    min-height: 639px;
    padding-top: 30px;
  }

  .feedback__wrapper {
    max-width: auto;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;

    text-align: center;
  }

  .feedback h2 {
    margin-left: 0;

    font-size: 28px;
    line-height: 39px;
  }

  .feedback p {
    margin-top: 14px;
    padding-left: 0;
  }

  .feedback__name-tel-wrapper {
    flex-direction: column;
    justify-content: flex-start;

    margin-top: 26px;
  }

  .feedback input[type="text"],
  .feedback input[type="tel"],
  textarea {
    width: 100%;
    height: 50px;
    padding-left: 17px;
  }

  .feedback__name {
    margin-right: 0;
  }

  .feedback__tel {
    margin-top: 30.45px;
  }

  .feedback__textarea {
    margin-top: 33px;
  }

  .feedback__textarea textarea {
    min-height: 104px;
  }

  .feedback__button-wrapper {
    flex-direction: column;

    margin-top: 25px;
  }

  .feedback__button-wrapper button {
    margin-right: 0;
  }

  .feedback__checkbox {
    margin-top: 21px;
  }
}
