.header {
  min-height: 881px;

  background-color: $default-background-color;
  background-image: url("../../img/background-desktop@1x.png");

  // > * > * {
  //   outline: 1px dashed pink;

  //   > * {
  //     outline: 1px dashed red;

  //     > * {
  //       outline: 1px dashed blue;
  //     }
  //   }
  // }
}

.header__wrapper {
  width: 1420px;
  margin: 0 auto;
}

.header__logo-wrapper {
  display: flex;
  justify-content: space-between;

  padding-top: 22px;
}

.header__list {
  display: flex;
  justify-content: space-between;

  padding: 0;

  list-style-type: none;
}

.header__item a {
  color: $contrast-text-color;
}

.header__item--mail,
.header__item--tel {
  padding-top: 10px;
  padding-left: 50px;
}

.header__item--tel {
  margin-right: 50px;
}

.header__item--mail {
  margin-right: 73px;
}
