.header__item--mail a:hover,
.header__item--tel a:hover {
  text-decoration: underline;
}

.header__outer-wrapper {
  margin: 0 20px;
}

.header__wrapper {
  max-width: 1420px;
  margin: 0 auto;
}

.header__logo-wrapper {
  display: flex;
  justify-content: space-between;

  padding-top: 22px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 0;

  list-style-type: none;
}

.header__item a {
  color: $contrast-text-color;
}

.header__item--mail,
.header__item--tel {
  padding-top: 10px;
  padding-left: 50px;

  & a {
    position: relative;
  }

  & svg {
    position: absolute;
  }
}

.header__item--tel {
  margin-right: 50px;

  & svg {
    top: 0;
    left: -34px;
  }
}

.header__item--mail {
  margin-right: 73px;

  & svg {
    top: 2px;
    left: -38px;
  }
}

@media (max-width: $desktop-width) {
  .header__outer-wrapper {
    margin: 0;
  }

  .header__wrapper {
    width: 100%;
  }

  .header__item--mail,
  .header__item--tel {
    padding-left: 0;

    & span {
      display: none;
    }
  }

  .header__item--tel svg {
    top: -17px;
    left: 0;

    width: 24px;
    height: 24px;
  }

  .header__item--mail svg {
    top: -13px;
    left: 15px;

    width: 25.33px;
    height: 18.67px;
  }
}

@media (max-width: $tablet-width) {
  .header__logo-wrapper {
    padding-top: 17px;
  }

  .header__item--mail svg {
    top: -18px;
    left: 35px;
  }

  .header__item--tel svg {
    top: -21px;
    left: 11px;
  }
}
