.main-screen {
  position: relative;

  min-height: 500px;
  margin-top: 217px;
}

.main-screen img {
  position: absolute;
  top: -57px;
  right: -81px;
}

.main-screen__description {
  position: relative;

  padding-left: 6px;

  color: $contrast-text-color;
}

.main-screen__description h2 {
  margin: 0;

  letter-spacing: 0.07em;
  text-transform: uppercase;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 80px;
  font-weight: bold;
  font-style: normal;
  line-height: 94px;
}

.main-screen__description p {
  position: relative;

  width: 650px;
  margin: 26px 0 0 98px;

  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  line-height: 34px;

  &::before {
    position: absolute;
    top: 16px;
    left: -94px;

    width: 66px;
    height: 2px;

    content: "";

    background-color: $contrast-text-color;
  }
}

.main-screen__scroll {
  position: absolute;
  top: 474px;
  left: 10px;

  display: block;

  transform: rotate(-90deg);
  transform-origin: left top 0;

  opacity: 0.5;
  color: $contrast-text-color;

  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 16px;
}

.main-screen__button-text--mobile {
  display: none;
}

@media (max-width: $desktop-width) {
  .main-screen {
    margin-top: 114px;
  }

  .main-screen__description {
    width: 600px;
    padding-left: 87px;
  }


  .main-screen__description h2 {
    font-size: 60px;
    line-height: 70px;
  }

  .main-screen__description p {
    width: auto;
    margin: 29px 0 0 51px;

    font-size: 18px;
    line-height: 156.8%;

    &::before {
      left: -47px;

      width: 33px;
    }
  }

  .main-screen__scroll {
    display: none;
  }
}


@media (max-width: $tablet-width) {
  .main-screen {
    min-height: auto;
    margin-top: 227px;
  }

  .main-screen__description {
    width: auto;
    padding-left: 0;
  }

  .main-screen__description h2 {
    padding-left: 15px;

    font-size: 40px;
    line-height: 47px;
  }

  .main-screen__description p {
    margin: 28px 0 0 66px;

    font-size: 16px;

    &::before {
      top: 14px;
      left: -48px;
    }
  }

  .main-screen__button-text {
    display: none;

    &--mobile {
      display: inline;
    }
  }
}
