.main-screen-wrapper {
  min-height: 878px;

  background-color: $default-background-color;
  background-image: url("../img/main-bg-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dpi) and (min-resolution: $retina-dppx) {
    background-image: url("../img/main-bg-desktop@2x.png");
  }
}

@media (max-width: $desktop-width) {
  .main-screen-wrapper {
    min-height: 622px;

    background-image: url("../img/main-bg-tablet@1x.png");

    @media (min-resolution: $retina-dpi) and (min-resolution: $retina-dppx) {
      background-image: url("../img/main-bg-tablet@2x.png");
    }
  }
}

@media (max-width: $tablet-width) {
  .main-screen-wrapper {
    min-height: 647px;

    background-image: url("../img/main-bg-mobile@1x.png");

    @media (min-resolution: $retina-dpi) and (min-resolution: $retina-dppx) {
      background-image: url("../img/main-bg-mobile@2x.png");
    }
  }
}
