.social {
  display: flex;
  justify-content: space-between;

  width: 112px;
  margin-left: 10px;
  padding: 0;

  list-style: none;

  font-size: 0;
}

.social__item a {
  display: block;

  &:hover svg {
    transition: fill $animation;

    fill: $alternative-background-color;
  }

  &:active svg {
    opacity: 0.5;
  }
}


.social__item svg {
  transition: fill $animation;

  fill: $social-color;
}

@media (max-width: $desktop-width) {
  .social {
    margin-top: 24px;
    margin-right: 24px;
    margin-left: 0;
  }
}

@media (max-width: $tablet-width) {
  .social {
    // margin-top: 18px;
    margin-right: 0;
  }
}
