html {
  box-sizing: border-box;
}

body {
  position: relative;

  color: $default-text-color;

  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 22px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;

  color: $default-text-color;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  border-radius: 0;
}
