$default-text-color: #666666;
$default-background-color: #1b2d37;
$contrast-text-color: #ffffff;
$logo-subtitle-color: #788891;
$alternative-background-color: #00b2ff;

$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1023px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
